# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django's database
db.sqlite3

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py


# pyenv
.python-version

# dotenv
.env
*.env

# PyCharm
.idea/
node_modules

# do not include webpack stats
webpack-stats.dev.json
webpack-stats.prod.json

# build files
build/
bundles/

# Celery beat
portal_root/celerybeat-schedule
/portal_root/coverage_html_report/
/extra/postgres/backup/
/excluded/
